<a href="https://colab.research.google.com/github/dlguswns3820/hanyang/blob/main/Untitled10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
#1
삼성전자 = 50000
print("삼성전자 =",삼성전자)
평가금액  = 삼성전자 * 10
print(평가금액)

삼성전자 = 50000
500000

In [22]:
#2
year = "2020"
print("year =",year)
print(type(year))
print(int(year) - 1)
print(int(year) - 2)
print(int(year) - 3)

year = 2020
<class 'str'>
2019
2018
2017

In [90]:
#3
string = "홀짝홀짝홀짝"
print(string[0:5:2])

홀홀홀

In [88]:
#4
string = "PYTHON"
print(string[-1:-7:-1])

NOHTYP

In [60]:
#5
movie_rank = ['닥터 스트레인지','스플릿','럭키','베트맨']
movie_rank.insert(1,'슈퍼맨')
movie_rank

['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '베트맨']

In [91]:
#6
nums = [1,2,3,4,5,6,7,8,9,10]
print(nums[0:10:2])

[1, 3, 5, 7, 9]

In [95]:
#7
data = [2,4,3,1,5,10,9]
data.sort()
data

[1, 2, 3, 4, 5, 9, 10]

In [107]:
#8
name1 = "김민수"
age1 = "10"
name2 = "이철희"
age2 = "13"
print("name1 =",name1)
print("age1 =",age1)
print("name2 =",name2)
print("age2 =",age2)

s = "이름:{} 나이:{}"
print(s.format(name1,age1))
print(s.format(name2,age2))
#print("%d",age2)

name1 = 김민수
age1 = 10
name2 = 이철희
age2 = 13
이름:김민수 나이:10
%d 13